name: Build & Publish NuGet

on:
    push:
        branches:
            - master
            - main
    pull_request:
        branches:
            - "**"

jobs:
    build-and-pack:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Setup .NET
              uses: actions/setup-dotnet@v3
              with:
                  dotnet-version: "8.0.x"

            - name: Restore dependencies
              run: dotnet restore Common/Common.csproj

            - name: Determine version
              id: version
              run: |
                  BASE_VERSION="1.0.0"

                  # Determine branch name
                  if [[ -n "${GITHUB_HEAD_REF}" ]]; then
                  BRANCH_NAME="${GITHUB_HEAD_REF}"
                  else
                  BRANCH_NAME="${GITHUB_REF#refs/heads/}"
                  fi

                  # Normalize
                  BRANCH_NAME=$(echo "$BRANCH_NAME" | tr / - | tr '[:upper:]' '[:lower:]')

                  # Incremental count
                  INC=$(git rev-list --count HEAD)

                  # Always append branch name and count
                  VERSION="${BASE_VERSION}-${BRANCH_NAME}.${INC}"

                  echo "PACKAGE_VERSION=$VERSION" >> $GITHUB_ENV
                  echo "Version set to $VERSION"

            - name: Build & Pack
              run: |
                  dotnet build Common/Common.csproj -c Release

                  dotnet pack Common/Common.csproj \
                    -c Release \
                    -p:PackageVersion=$PACKAGE_VERSION \
                    -p:IncludeBuildOutput=true \
                    -o ./nupkgs

            - name: Push to NuGet
              env:
                  NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
              run: |
                  dotnet nuget push ./nupkgs/*.nupkg \
                    --source "https://www.nuget.org" \
                    --api-key $NUGET_API_KEY
