name: Build & Publish NuGet

on:
    push:
        branches:
            - master
            - main
        paths:
            - "Common/**"
            - "Directory.Packages.props"
            - "Directory.Build.props"
    pull_request:
        branches:
            - "**"
        paths:
            - "Common/**"
            - "Directory.Packages.props"
            - "Directory.Build.props"

permissions:
    contents: read
    packages: write

jobs:
    build-and-pack:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v3
              with:
                  fetch-depth: 0

            - name: Setup .NET
              uses: actions/setup-dotnet@v3
              with:
                  dotnet-version: "8.0.x"

            - name: Restore dependencies
              run: dotnet restore Common/Common.csproj

            - name: Determine version from csproj
              run: |
                  BASE_VERSION=$(grep -oPm1 "(?<=<Version>)[^<]+" Common/Common.csproj)

                  if [[ -n "${GITHUB_HEAD_REF}" ]]; then
                      BRANCH_NAME="${GITHUB_HEAD_REF}"
                  else
                      BRANCH_NAME="${GITHUB_REF#refs/heads/}"
                  fi

                  BRANCH_NAME=$(echo "$BRANCH_NAME" | tr / - | tr '[:upper:]' '[:lower:]')

                  INC=$(git rev-list --count HEAD)

                  if [[ "$BRANCH_NAME" == "main" || "$BRANCH_NAME" == "master" ]]; then
                      VERSION="$BASE_VERSION"
                  else
                      VERSION="${BASE_VERSION}-${BRANCH_NAME}.${INC}"
                  fi

                  echo "PACKAGE_VERSION=$VERSION" >> $GITHUB_ENV
                  echo "Using version $VERSION"

            - name: Build & Pack
              run: |
                  dotnet build Common/Common.csproj -c Release

                  dotnet pack Common/Common.csproj \
                    -c Release \
                    -p:PackageVersion=$PACKAGE_VERSION \
                    -p:IncludeBuildOutput=true \
                    -o ./nupkgs

            - name: Push to Github Package
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN  }}
              run: |
                  dotnet nuget push ./nupkgs/*.nupkg \
                    --source "https://nuget.pkg.github.com/Sundy-Studios/index.json" \
                    --api-key "$GITHUB_TOKEN" \
                    --skip-duplicate
